<div class="container-fluid">
    <br>
    <h1 class="text-center">List of Pokemons</h1>  
    <br><br>
    <div class="container pokemon-lists">
        <div class="pokemon-card" *ngFor = "let item of lists">
            <div class="pokemon-name">
                <div class="text-center">{{item['name']}}</div>
            </div>
            <div class="pokemon-url text-center mt-3">
                
                <a routerLink="/details" routerLinkActive="active"><button class="btn btn-dark" (click)="callFunction($event, item.url)">View Details</button></a>
            </div>
        </div>
    </div>  
</div>