.box{
    font-family: Papyrus, fantasy;
    width: 100%;
    height: 100%;
    border: 20px solid rgb(95, 91, 91);
    background-color: #2e2c2d;
    color:white;
    
    
}
.notes-section{

  font-family: Papyrus, fantasy;
  width: 100%;
  height: 100%;
  border: 20px solid rgb(82, 75, 75);
  background-color: #2e2c2d;
  color: rgb(250, 249, 249);
}
.beta{
  margin-left:650px;
  width:200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.note-name{
  font-size:30px;
  text-align: center;
}
.note-space{
  margin-left:430px ;
  width:600px;
  height:200px;
  color: black;
  font-size: large;
  font-family: Courier, monospace;
}
.pic
{
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 100px;
  
}
.name{
  background-color:#494749;
  
}
.nam{
  margin-top: 20px;
  margin-bottom: 20px;
}