

.box{
    font-family: Papyrus, fantasy;
    margin: 100px;
    margin-left: 300px;
    margin-top: 200px;
  width: 60%;
  border: 10px solid rgb(95, 91, 91);
  padding: 50px;
  
    background-color: #2e2c2d;
    color: white;
    
}
